@import "../../../data/styles.css";

.works-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.contact-list {
  list-style: none;
  padding-left: 0;
}

.contact-list li {
  margin: 5px 0;
}

.contact-list a {
  color: #007bff;
  text-decoration: none;
}

.contact-list a:hover {
  text-decoration: underline;
}
